:root {
  /* Light Blue Colors */
  --light-blue: #ebeff7;
  --light-blue-25: rgba(235, 239, 247, 0.25);
  --light-blue-40: rgba(235, 239, 247, 0.4);
  --light-blue-50: rgba(235, 239, 247, 0.5);
  --light-blue-75: rgba(235, 239, 247, 0.75);

  /* Medium Blue Colors */
  --medium-blue: #b3c3f5;
  --medium-blue-25: rgba(179, 195, 245, 0.25);
  --medium-blue-50: rgba(179, 195, 245, 0.5);
  --medium-blue-75: rgba(179, 195, 245, 0.75);

  /* Deep Blue Colors */
  --deep-blue: #7795f2;
  --deep-blue-25: rgba(119, 149, 242, 0.25);
  --deep-blue-50: rgba(119, 149, 242, 0.5);
  --deep-blue-75: rgba(119, 149, 242, 0.75);

  /* Cyan Colors */
  --cyan: #00ffff;
  --cyan-25: rgba(48, 158, 201, 0.25);
  --cyan-50: rgba(48, 158, 201, 0.5);
  --cyan-75: rgba(48, 158, 201, 0.75);
  --cyan-90: rgba(48, 158, 201, 0.9);

  /* Lavender Colors */
  --lavender: rgba(129, 108, 212, 1);
  --lavender-25: rgba(129, 108, 212, 0.25);
  --lavender-50: rgba(129, 108, 212, 0.5);
  --lavender-75: rgba(129, 108, 212, 0.75);

  /* Purple Colors */
  --purple: #9400d3;
  --purple-15: rgba(148, 0, 211, 0.15);
  --purple-25: rgba(148, 0, 211, 0.25);
  --purple-40: rgba(148, 0, 211, 0.4);
  --purple-50: rgba(148, 0, 211, 0.5);
  --purple-75: rgba(148, 0, 211, 0.75);
  --purple-85: rgba(148, 0, 211, 0.85);

  /* Slate Colors */
  --slate: #3d3859;
  --slate-25: rgba(61, 56, 89, 0.25);
  --slate-50: rgba(61, 56, 89, 0.5);
  --slate-75: rgba(61, 56, 89, 0.75);

  /* Dark Gray Colors */
  --dark-gray: #27293d;
  --dark-gray-25: rgba(39, 41, 61, 0.25);
  --dark-gray-50: rgba(39, 41, 61, 0.5);
  --dark-gray-75: rgba(39, 41, 61, 0.75);
  --dark-gray-90: rgba(39, 41, 61, 0.9);

  /* Charcoal Colors */
  --charcoal: #1d1e2b;
  --charcoal-25: rgba(29, 30, 43, 0.25);
  --charcoal-50: rgba(29, 30, 43, 0.5);
  --charcoal-75: rgba(29, 30, 43, 0.75);
  --charcoal-82: rgba(29, 30, 43, 0.82);
  --charcoal-86: rgba(29, 30, 43, 0.86);
  --charcoal-90: rgba(29, 30, 43, 0.9);

  --lilac: #f190ff;
  --pinkest: #ff5aff;

  /* Gradient Backgrounds */

  /* Gradients */
  --dark-violet-grad: linear-gradient(
    to top,
    rgba(148, 0, 211, 0.15),
    rgba(148, 0, 211, 0.25),
    rgba(148, 0, 211, 0.4),
    rgba(148, 0, 211, 0.5)
  );
  --dark-gray-grad: linear-gradient(
    to bottom,
    rgba(29, 30, 43, 0.75),
    rgba(29, 30, 43, 0.82),
    rgba(29, 30, 43, 0.9),
    #1d1e2b
  );
  --light-blue-grad: linear-gradient(
    to bottom,
    rgba(119, 149, 242, 0.75),
    rgba(119, 149, 242, 0.5),
    #7795f2
  );
  --medium-gray-grad: linear-gradient(
    to bottom,
    rgba(29, 30, 43, 0.25),
    rgba(39, 41, 61, 0.5),
    rgba(39, 41, 61, 0.75),
    #27293d
  );
  --light-gray-grad: linear-gradient(
    to bottom,
    rgba(61, 56, 89, 0.25),
    rgba(61, 56, 89, 0.5),
    rgba(61, 56, 89, 0.75),
    #3d3859
  );
  --extra-dark-gray-grad: linear-gradient(
    to bottom,
    rgba(29, 30, 43, 0.75),
    rgba(29, 30, 43, 0.82),
    rgba(29, 30, 43, 0.9)
  );
  --light-purple-grad: linear-gradient(
    to bottom,
    rgba(129, 108, 212, 0.25),
    rgba(129, 108, 212, 0.5),
    rgba(129, 108, 212, 0.75),
    rgba(129, 108, 212, 1)
  );
  --cyan-grad: linear-gradient(
    to bottom,
    rgba(48, 158, 201, 0.4),
    rgba(119, 149, 242, 0.5),
    rgba(119, 149, 242, 0.4),
    rgba(119, 149, 242, 0.5),
    rgba(48, 158, 201, 0.4)
  );

  --light-pink-grad: linear-gradient(
    to bottom,
    rgba(241, 144, 255, 0.5),
    rgba(241, 144, 255, 0.4),
    rgba(241, 144, 255, 0.3),
    rgba(255, 90, 255, 0.3),
    rgba(255, 90, 255, 0.4)
  );

  /* Sizes */
  --xxs: 0.5vh;
  --xs: 1vh;
  --sm: 1.5vh;
  --md: 2vh;
  --lg: 2.5vh;
  --xl: 3vh;
  --xxl: 3.5vh;
  --xxxl: 4vh;

  --DVShadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
  --SubtleShadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
  --StandoutShadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  --DVTextShadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  --BigTextShadow: 2px 3px 5px rgba(0, 0, 0, 0.9);
  --Shadow3D: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  --TextShadowCyan: 0px 2px 15px rgba(0, 0, 0, 0.9);
}

/* ------------------------------- gradient backgrounds  ----------------------------- */

.dark-violet-grad {
  background: var(--dark-violet-grad);
}

.dark-gray-grad {
  background: var(--dark-gray-grad);
}

.light-blue-grad {
  background: var(--light-blue-grad);
}

.medium-gray-grad {
  background: var(--medium-gray-grad);
}

.light-gray-grad {
  background: var(--light-gray-grad);
}

.extra-dark-gray-grad {
  background: var(--extra-dark-gray-grad);
}

.light-purple-grad {
  background: var(--light-purple-grad);
}

.cyan-grad {
  background: var(--cyan-grad);
}

.light-pink-grad {
  background: var(--light-pink-grad);
}

/* -------------------------------  snap-scroll ----------------------------- */

.snapScroll {
  height: 100vh;
  scroll-snap-type: y var(--tw-scroll-snap-strictness);
  --tw-scroll-snap-strictness: mandatory;
  overflow: scroll;
  scroll-behavior: smooth;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0ms;
}

/* -------------------------------  CSS DEFAULTS ----------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--md);
  background-color: var(--dark-gray);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: "smooth";
  scrollbar-width: "thin";
  scrollbar-color: "purple";
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: var(--light-blue);
  background-color: var(--dark-gray);
  background-image: url("./resources/violetBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: var(--lilac);
}

a:hover {
  color: var(--pinkest);
  text-shadow: 0px 0px 3px black;
  transition: all 0.3s ease-in-out;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav img {
}

nav,
footer {
  position: fixed;
  height: 12vh;
  top: 0;
  left: 0;
  width: 100vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--slate-75);
  z-index: 100;
  box-shadow: var(--Shadow3D);
}

footer {
  bottom: 0;
  top: auto;
  height: 6vh;
  align-items: space-between;
}

.logo {
  position: relative;
  padding: var(--xxs);
}

.tiny-violet {
  width: 2vh;
  position: absolute;
}

.title {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 5vh;
  font-weight: 600;
  text-shadow: 0px 0px 10px black;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav li,
footer li {
  line-height: var(--lg);
  display: inline-block;
  font-size: var(--lg);
  font-weight: 500;
  text-shadow: var(--DVTextShadow);
}

footer li {
  font-size: 1rem;
}

nav a.active,
nav .title.active {
  color: var(--cyan);
  text-shadow: var(--BigTextShadow);
  font-size: var(--xxl);
  transition: all 0.3s ease-in-out;
}

nav .title.active {
  font-size: 5.5vh;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 13vh;
  padding-bottom: 7vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.contents {
  width: 95vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--xxs);
  position: relative;
  box-shadow: var(--DVShadow);
  padding: var(--md) var(--lg);
}

.image {
  position: absolute;
}

.bottom-right {
  bottom: 0vh;
  right: 3vw;
}

.bottom-left {
  bottom: 0vh;
  left: 3vw;
}

.top-right {
  top: 3vh;
  right: 2vw;
}

.top-left {
  top: 16vh;
  left: 8vw;
}

.top-center {
  top: 4vh;
  left: 50%;
}

.bottom-center {
  bottom: 0px;
  left: 40%;
}

.small-image {
  width: 166vw;
}

.medium-image {
  width: 33vw;
}

.large-image {
  width: 40vw;
}

.medium-show {
  display: none;
}

.large-show {
  display: none;
}

.xl-show {
  display: none;
}

.medium-show {
  display: none;
}

.inner-container {
  width: 100%;
  height: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--xxl);
  align-self: flex-start;
  justify-self: flex-start;
  font-weight: 500;
  color: var(--medium-blue);
  text-shadow: var(--TextShadowCyan);
}

.text-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: var(--md);
  font-size: var(--md);
  line-height: var(--lg);
}

.collapsing-stack {
  display: flex;
  width: 90vw;
  flex-direction: row;
  margin: var(--xl) 0;
  align-items: flex-start;
}

.bio-header {
  font-size: var(--lg);
  font-weight: 500;
  color: var(--cyan);
  text-shadow: var(--DVTextShadow);
}

.detail-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.bio-detail {
  display: flex;
  flex-direction: column;
  font-size: var(--md);
  line-height: var(--lg);
  color: var(--medium-blue);
  text-shadow: var(--DVTextShadow);
  margin-top: var(--xs);
}

.VStack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.team-image {
  height: 30vh;
  border-radius: var(--xxs);
  box-shadow: var(--DVShadow);
  margin: 0 var(--md);
  width: auto;
  object-fit: cover;
  cursor: pointer;
}

.team-image:hover {
  transform: scale(1.04);
  box-shadow: var(--Shadow3D);
  transition: all 0.3s ease-in-out;
}

.bio-text {
  display: none;
}

.learn-more {
  font-size: var(--sm);
  width: auto;
  height: 4vh;
  line-height: var(--md);
  padding: var(--xs) var(--sm);
  background: var(--dark-gray);
  border-radius: var(--xxs);
  margin-top: var(--xs);
  box-shadow: var(--DVShadow);
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.learn-more:hover {
  background: var(--slate);
  color: var(--cyan);
  transition: all 0.3s ease-in-out;
}

.icon {
  height: 2vh;
  margin-left: var(--xs);
}

hr.rounded {
  border-top: 1px solid var(--cyan-90);
  border-radius: 5px;
  width: 90vw;
}

/* ------------------------------- 600px  ----------------------------- */

@media (min-width: 600px) {
  .large-image {
    width: 30vw;
  }

  .text-section {
    font-size: var(--lg);
    line-height: var(--xl);
    padding-top: var(--lg);
  }

  .bio-detail {
    flex-direction: row;
  }

  .learn-more {
    font-size: var(--md);
  }

  .icon {
    height: 2.3vh;
  }

  .bio-header {
    font-size: var(--xl);
  }
}

/* ------------------------------- 800px  ----------------------------- */

@media (min-width: 800px) {
  .logo {
    margin: 0;
  }

  nav,
  footer {
    flex-direction: row;
  }

  nav {
    justify-content: space-around;
    height: 8vh;
  }

  nav li {
    font-size: var(--xl);
  }

  nav ul li a.active {
    font-size: var(--xxxl);
  }

  ul {
    width: 50vw;
  }

  footer {
    height: 4vh;
  }

  .page {
    padding-top: 9.5vh;
    padding-bottom: 4vh;
  }

  .contents {
    height: 85vh;
  }

  .page-header {
    max-width: 85vw;

    font-size: var(--xxxl);
  }

  .expand-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .expand-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .small-image {
    width: 16vw;
  }

  .medium-image {
    width: 28vw;
  }

  .large-image {
    width: 30vw;
  }

  .medium-show {
    display: flex;
  }

  .bottom-left {
    left: 5vw;
  }

  .text-section {
    padding-top: var(--xl);
    line-height: var(--xxxl);
    width: 57vw;
  }

  .medium-show {
    display: flex;
  }

  .team-image {
    height: 33vh;
    width: auto;
  }

  .bio-text {
    margin-top: var(--md);
    display: flex;
    line-height: var(--lg);
  }

  .bio-detail {
    font-size: var(--lg);
  }
}

/* ---------------------------------- 1024px ------------------------------- */

@media (min-width: 1024px) {
  .contents {
    max-width: 90vw;
  }

  .page-header {
    font-size: var(--xxxl);
    max-width: 70vw;
  }

  .small-image {
    width: 13vw;
  }

  .medium-image {
    width: 23vw;
  }

  .large-image {
    width: 25vw;
  }

  .large-show {
    display: flex;
  }

  .bottom-left {
  }

  .top-left {
    top: 13vh;
    left: 8vw;
  }

  .text-section {
    padding-top: var(--xxl);
    width: 50vw;
  }

  .collapsing-stack {
    width: 75vw;
  }

  hr.rounded {
    width: 85vw;
  }
}

/* ---------------------------------- 1300px ------------------------------- */

@media (min-width: 1300px) {
  .contents {
    max-width: 85vw;
  }

  .text-section {
    max-width: 80vw;
    padding-top: var(--xxxl);
    width: 40vw;
  }

  .top-left {
    top: 15vh;
    left: 8vw;
  }

  .small-image {
    width: 9vw;
  }
  .medium-image {
    width: 18vw;
  }

  .large-image {
    width: 20vw;
  }

  .xl-show {
    display: flex;
  }

  .bio-text {
    font-size: var(--lg);
    line-height: var(--xl);
    width: 50vw;
  }

  hr.rounded {
    width: 80vw;
  }

  .page-header {
    font-size: var(--xxxl);
  }

  .bio-header {
    font-size: var(--xxl);
  }

  .bio-detail {
    font-size: var(--lg);
  }
}
